@{
    ViewData["Title"] = "Companies";
}

<div class="text-center">
    
<p> HELLO Company</p>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebAppAspMvcLibTest</a> *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-blue" asp-area="" asp-controller="Company" asp-action="AddViewCompany">Add Company</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>

    <div style="margin-right: 70%">
        <label>Выберите тип компании:</label>
        <select name="NamecompTypeSelectIndex" id="IdcompTypeSelectIndex">
            <option value="1">Company</option>
            <option value="2">Developer</option>
            <option value="3">Distrtibuter</option>
            <option value="4">Production</option>
            <option value="5">Publisher</option>
            <option value="6">Studio</option>
        </select>
    </div>

    <div id="myResultContent">
    <table class="table" id="tableTable">
        <tr><th>ID</th><th>Title</th><th>Type</th></tr>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.GetType().ToString()</td>

            </tr>
        }
    </table>
   
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#IdcompTypeSelectIndex').change(function () {
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetItems")/' + id,
                    success: function (data) {

                        // заменяем содержимое присланным частичным представлением
                        $('#tableTable').replaceWith(data);
                    }
                });
            });
        })
    </script>


}